{
  border: 1px dotted green;
}

body{
    background-color: #005959;
    color: white;
    font-family: "Cookie"
}

#content{
  border: 1px solid white;
  padding: 24px;
  margin-top: 32px;

  /* image style */
  background-image:url("../img/jolly-roger.svg");
  background-position:center;
  background-repeat: no-repeat;
}

#summary{
  border: 1px solid white;
  padding: 24px;
  margin-top: 32px;
}

img{
  opacity: 0.5;
}

#sizes{
  float: right;
}

#summary{
  display: none;
}

input{
  margin: 0px;
}

li{
  list-style-type: none;
  font-size: 20px;
}

p{
  font-size: 24px;
}

#size-toppings{
  clear: both;
}

select{
  font-size: 20px;
}
